@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'poppins';
}
body{
    display: flex;
    justify-content: center;
}